# LLM Settings
llm__api_key=""

# supabase settings
supabase__url=""
supabase__key=""
supabase__bucket_name=""

# Content API Settings
content__tavily_api_key=""
content__guardian_api_key=""
content__unsplash_api_key=""

# Opik Settings
OPIK_API_KEY=""
OPIK_PROJECT_NAME="blogboard"

# Error Tracking
SENTRY_DSN=""